In [18]:
import pandas as pd

tips_df = pd.read_csv('./tips.csv', sep=',', header=0)

In [19]:
tips_df.head()

    weekday  meal_type wait_staff  party_size  meal_total    tip
0  Saturday     Dinner     Marcia           2      100.64  16.23
1    Friday     Dinner     Marcia           2      109.84   5.99
2    Friday      Lunch        Jan           4       90.50  22.04
3    Monday     Dinner     Marcia           1       60.01   8.77
4    Monday  Breakfast        Jan           1       10.88   1.68

In [22]:
percent_tip = pd.Series(tips_df['tip']/tips_df['meal_total'],name='tip_percent')
tips_df = pd.concat([tips_df, percent_tip], axis=1)
tips_df.head()

    weekday  meal_type wait_staff  party_size  meal_total    tip  tip_percent
0  Saturday     Dinner     Marcia           2      100.64  16.23     0.161268
1    Friday     Dinner     Marcia           2      109.84   5.99     0.054534
2    Friday      Lunch        Jan           4       90.50  22.04     0.243536
3    Monday     Dinner     Marcia           1       60.01   8.77     0.146142
4    Monday  Breakfast        Jan           1       10.88   1.68     0.154412

In [23]:
tips_df.to_csv('tips_percent.csv', sep=',', header=True, index=False)

In [24]:
tips_df_from_file = pd.read_csv('./tips_percent.csv', sep=',', header=0)
tips_df_from_file.head()

    weekday  meal_type wait_staff  party_size  meal_total    tip  tip_percent
0  Saturday     Dinner     Marcia           2      100.64  16.23     0.161268
1    Friday     Dinner     Marcia           2      109.84   5.99     0.054534
2    Friday      Lunch        Jan           4       90.50  22.04     0.243536
3    Monday     Dinner     Marcia           1       60.01   8.77     0.146142
4    Monday  Breakfast        Jan           1       10.88   1.68     0.154412